/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

/* Setando plano de fundo */
body {
    background-image: url(imagens/background_web.jpg);
}


/* Cabeçalho*/
header {
    color: rgb(236, 231, 231);
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    background: #003399;
    padding-bottom: 3%;
}


a {
    color: rgb(76, 163, 235);
    cursor: pointer;
    transition: .2s;
}


/* Animação do hover*/  
a:hover{
    color: orangered;
    font-size: 2rem;
}


main, footer {
    padding-left: 40px; 
}


/* Desenhando linhas e botando margens nas sections*/
section {
    padding-bottom: 3%;
    border-top: 1px solid #000;
}


/* Exceção para a primeira seção*/
#first-section {
    padding-top: 1%;
}


table#profile{
    margin-left: 250px;
}


div.img-container {
    /* overflow: hidden; */
    border: 2px solid #003399;
    color: #003399;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}


.img-container{
    transition: .3s;
    box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.1)
 }


/* Animação da foto*/
.img-container:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}


p {
    line-height: 1.5;
}

/* Descrição da foto*/
#description {
    width: 60%;
    text-align: justify;
    margin-left: 15px;
    font-family: 'Roboto', sans-serif;
}


h2 {
    color: #003399;
    font-weight: 800;
    font-size: 175%;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 1%;
}


ul, ol {
    line-height: 2;
}


video {
    border: 6px solid #003399;
    box-shadow: 1px 1px 10px 5px rgba(0,0,0, 0.5);
    margin-top: 1%;
    transition: .3s; 
}

/* Animação do vídeo*/
video:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}


footer {
    border-top: 1px solid #000;
}
